<div class="row">
     <div class="col-lg-12">
          <h1>Hockey Loop</h1>
         <p>Role : Career agent</p>
          <hr>
    </div>                <!-- /.col-lg-12 -->
</div>
 <!-- /.row -->

  <div class="row">
    <h4 class="container">Colloboration Wall</h4>
    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">

		<div class="row" style="margin-left:0;margin-right:0">
			<div class="col-lg-12" style="background-color:#8C8C8C;margin-top:20px;padding-right:0;">
					Colloboration Wall
						<div class="btn-group pull-right">
					      <button type="button" class="btn btn-default">Filter</button>
					      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					        <span class="caret"></span>
					        <span class="sr-only">Toggle Dropdown</span>
					      </button>
					      <ul class="dropdown-menu">
					        <li><a href="#">Action</a></li>
					        <li><a href="#">Another action</a></li>
					        <li><a href="#">Something else here</a></li>
					      </ul>
					    </div><!--btn-group-->
			</div><!--col-lg-12-->
		</div><!--row-->
		
		<div style="background-color:#CCCCCC;padding:20px;">
		<div class="row">
			<div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
				<img src="http://dummyimage.com/600x400/000/fff" class="img-responsive">
			</div><!--col-lg-2-->
			<div class="col-lg-10 col-md-10 col-sm-10 col-xs-12">
				<textarea class="form-control" rows="2" placeholder="<Username> Lorem ipsum dolor sit amet, consectetur adipiscing elit"></textarea>
				<p>Mon at 11:46 AM - <a href="#">Like</a> - <a href="#">Report</a></p>
				<hr style="border-color:#949090">
				<p> Files: file x, files x, +</p>
				<p>Tages : tag name x, tag name x, +</p>
				<p>Type: post <button type="button" class="btn btn-primary btn-xs"><i class="fa fa-clock-o"></i> Convert to a task</button></p>
				<p>View only: member name x, group name x, member name x, +</p>
				<p> View and comment: member name x, group name x, member name x, +</p>

				<div class="row">
					<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
					<strong>Invite others to view & grant permissions:</strong> 
					</div>
					<form class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
	                        <div class="input-group stylish-input-group">
	                        	 <span class="input-group-addon">
			                        <button type="submit">
			                           <i class="fa fa-search"></i>
			                      	</button>  
				                  </span>
			                    <input type="text" class="form-control" style="border-left:0;" placeholder="name, email address">
			                   
			          		 </div>
	                 </form>
				</div>	<!--row-->

				</div><!--col-lg-10-->
		</div><!--row-->
		</div><!--container-->

    </div><!--col-lg-9-->
  </div><!--row-->


<div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
<div class="row">
<div class="col-lg-10 col-lg-offset-2" style="background-color:#eee;padding:10px;">
					<div class="row">
						<div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
							<img src="http://dummyimage.com/600x400/000/fff" class="img-responsive">
						</div>
						<div class="col-lg-9">
							<b>username : Lorem ipsum dolor sit amet, consectetur adipiscing elit</b>
							<p>Today at 3:17 PM - <a href="#">Like</a> - <a href="#">Report</a></p>
						</div>
					</div><!--row-->
					<div class="row">
						<div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
							<img src="http://dummyimage.com/600x400/000/fff" class="img-responsive">
						</div>
						<div class="col-lg-9">
							<b>username : Lorem ipsum dolor sit amet, consectetur adipiscing elit</b>
							<p>Today at 3:17 PM - <a href="#">Like</a> - <a href="#">Report</a></p>
						</div>
					</div><!--row-->
					<div class="row">
						<div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
							<img src="http://dummyimage.com/600x400/000/fff" class="img-responsive">
						</div>
						<div class="col-lg-9 col-md-9 col-sm-9 col-xs-21">
							<b>username : Lorem ipsum dolor sit amet, consectetur adipiscing elit</b>
							<p>Today at 3:17 PM - <a href="#">Like</a> - <a href="#">Report</a></p>
						</div>
					</div><!--row-->
					<form>
						  <div class="form-group">
						    <input type="email" class="form-control" placeholder="Add a comment">
						  </div>
					</form>
				</div><!--col-lg-10-->
</div><!--row-->
</div><!--col-lg-9-->



  <div class="row">
  <div class="col-lg-9">
                     <div class="jumbotron col-lg-12 col-md-12" style="background-color:#CCCCCC;margin:20px;">
                         <div class="row">
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                                <img alt="image" class="img-responsive" width="130" src="http://swarnakishore.github.io/Blast-off-with-bootstrap/img/intro-bg.jpg">
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                                <div style="text-align:center;margin-top:10px;">
                                <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                             <img alt="image" class="img-responsive" width="130" src="http://swarnakishore.github.io/Blast-off-with-bootstrap/img/intro-bg.jpg">
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                                <div style="text-align:center;margin-top:10px;">
                                   <a href="#"> <h5>Regarding Order ID</h5></a>
                                </div>    
                            </div>
                         </div><!--row-->

                         <textarea style="margin-top:20px;margin-bottom:20px" class="form-control" rows="2" placeholder="<Username> Lorem ipsum dolor sit amet, consectetur adipiscing elit"></textarea>
						
						<div class="row">
						<div class="col-lg-8 col-lg-offset-2 col-sm-offset-2">
							
							<p>Mon at 11:46 AM - <a href="#">Like</a> - <a href="#">Report</a></p>
							<hr style="border-color:#949090">
							<p> Files: file x, files x, +</p>
							<p>Tages : tag name x, tag name x, +</p>
							<p>Type: post <button type="button" class="btn btn-primary btn-xs"><i class="fa fa-clock-o"></i> Convert to a task</button></p>
							<p>View only: member name x, group name x, member name x, +</p>
							<p> View and comment: member name x, group name x, member name x, +</p>

							<div class="row">
								<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
								<strong>Invite others to view & grant permissions:</strong> 
								</div>
								<form class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
				                        <div class="input-group stylish-input-group">
				                        	 <span class="input-group-addon">
						                        <button type="submit">
						                           <i class="fa fa-search"></i>
						                      	</button>  
							                  </span>
						                    <input type="text" class="form-control" style="border-left:0;" placeholder="name, email address">
						                   
						          		 </div>
				                 </form>
							</div>	<!--row-->
							</div><!--col-lg-8-->
						</div><!--row-->
						<p></p>
						<form>
						  <div class="form-group">
						    <input type="email" class="form-control" placeholder="Add a comment">
						  </div>
					</form>

	</div><!--jumbotron-->
	</div><!--col-lg-9-->
  </div><!--row-->
  <style>
  .jumbotron p {
  	font-size: 14px;
  }
  </style>